<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Temel6SigmaQuizSorularınınBelirlenmeAlgoritması.Properties.Settings.altiSigmaProblemiConnectionString"
            connectionString="Data Source=LAPTOP-D3S9ESL2;Initial Catalog=altiSigmaProblemi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Temel6SigmaQuizSorularınınBelirlenmeAlgoritması.Properties.Settings.birleştirmeDeneme2ConnectionString"
            connectionString="Data Source=LAPTOP-D3S9ESL2;Initial Catalog=birleştirmeDeneme2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>